
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBookRequisitionLabel" data-translate="cloudApp.bookRequisition.home.createOrEditLabel">Create or edit a Book Requisition</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.bookRequisition.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bookRequisition.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookRequisition.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.bookRequisition.title"
                    required/>
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookRequisition.edition" for="field_edition">Edition</label>
            <input type="text" class="form-control" name="edition" id="field_edition"
                    ng-model="vm.bookRequisition.edition"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookRequisition.authorName" for="field_authorName">Author Name</label>
            <input type="text" class="form-control" name="authorName" id="field_authorName"
                    ng-model="vm.bookRequisition.authorName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookRequisition.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bookRequisition.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookRequisition.updateDate" for="field_updateDate">Update Date</label>
                <div class="input-group">
                    <input id="field_updateDate" type="text" class="form-control" name="updateDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bookRequisition.updateDate" is-open="vm.datePickerOpenStatus.updateDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updateDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookRequisition.createBy" for="field_createBy">Create By</label>
            <input type="number" class="form-control" name="createBy" id="field_createBy"
                    ng-model="vm.bookRequisition.createBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookRequisition.updateBy" for="field_updateBy">Update By</label>
            <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                    ng-model="vm.bookRequisition.updateBy"
                    />
        </div>

        <div class="form-group">
            <label data-translate="cloudApp.bookRequisition.bookSubCategory" for="field_bookSubCategory">Book Sub Category</label>
            <select class="form-control" id="field_bookSubCategory" name="bookSubCategory" ng-model="vm.bookRequisition.bookSubCategoryId" ng-options="bookSubCategory.id as bookSubCategory.id for bookSubCategory in vm.booksubcategories"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
