<div>
    <h2 data-translate="cloudApp.institute.home.title">Institutes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="institute-my-suffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cloudApp.institute.home.createLabel">
                        Create new Institute
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="cloudApp.institute.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estdDate"><span data-translate="cloudApp.institute.estdDate">Estd Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="cloudApp.institute.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="website"><span data-translate="cloudApp.institute.website">Website</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactNo"><span data-translate="cloudApp.institute.contactNo">Contact No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="instituteType"><span data-translate="cloudApp.institute.instituteType">Institute Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="upazilaId"><span data-translate="cloudApp.institute.upazila">Upazila</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cityId"><span data-translate="cloudApp.institute.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="cloudApp.institute.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="institute in vm.institutes track by institute.id">
                    <td><a ui-sref="institute-my-suffix-detail({id:institute.id})">{{institute.id}}</a></td>
                    <td>{{institute.name}}</td>
                        <td>{{institute.estdDate | date:'mediumDate'}}</td>
                    <td>{{institute.email}}</td>
                    <td>{{institute.website}}</td>
                    <td>{{institute.contactNo}}</td>
                    <td data-translate="{{'cloudApp.InstituteType.' + institute.instituteType}}">{{institute.instituteType}}</td>
                    <td>
                        <a ui-sref="upazila-my-suffix-detail({id:institute.upazilaId})">{{institute.upazilaId}}</a>
                    </td>
                    <td>
                        <a ui-sref="city-my-suffix-detail({id:institute.cityId})">{{institute.cityId}}</a>
                    </td>
                    <td>
                        {{institute.userId}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="institute-my-suffix-detail({id:institute.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="institute-my-suffix.edit({id:institute.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="institute-my-suffix.delete({id:institute.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
