
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBookIssueLabel" data-translate="cloudApp.bookIssue.home.createOrEditLabel">Create or edit a Book Issue</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.bookIssue.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bookIssue.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookIssue.noOfCopies" for="field_noOfCopies">No Of Copies</label>
            <input type="text" class="form-control" name="noOfCopies" id="field_noOfCopies"
                    ng-model="vm.bookIssue.noOfCopies"
                    required/>
            <div ng-show="editForm.noOfCopies.$invalid">
                <p class="help-block"
                    ng-show="editForm.noOfCopies.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookIssue.returnDate" for="field_returnDate">Return Date</label>
                <div class="input-group">
                    <input id="field_returnDate" type="text" class="form-control" name="returnDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bookIssue.returnDate" is-open="vm.datePickerOpenStatus.returnDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('returnDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookIssue.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bookIssue.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookIssue.updateDate" for="field_updateDate">Update Date</label>
                <div class="input-group">
                    <input id="field_updateDate" type="text" class="form-control" name="updateDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bookIssue.updateDate" is-open="vm.datePickerOpenStatus.updateDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updateDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookIssue.createBy" for="field_createBy">Create By</label>
            <input type="number" class="form-control" name="createBy" id="field_createBy"
                    ng-model="vm.bookIssue.createBy"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cloudApp.bookIssue.updateBy" for="field_updateBy">Update By</label>
            <input type="number" class="form-control" name="updateBy" id="field_updateBy"
                    ng-model="vm.bookIssue.updateBy"
                    />
        </div>

        <div class="form-group">
            <label data-translate="cloudApp.bookIssue.bookInfo" for="field_bookInfo">Book Info</label>
            <select class="form-control" id="field_bookInfo" name="bookInfo" ng-model="vm.bookIssue.bookInfoId" ng-options="bookInfo.id as bookInfo.id for bookInfo in vm.bookinfos"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
